@font-face {
	font-family: Play;
	src: url("../assets/fonts/Play/Play-Regular.ttf");
}

:root {
	/* COLOR */
	/* background */
	--gunmetal: #192a32ff;
	--beau-blue: #a8bec9ff;
	--maximum-yellow-red: #f2b237ff;
	/* btn */
	--gunmetal-2: #1f3540ff;
	/* btn shadow */
	--charleston-green: #102129ff;
	--maximum-blue-green: #2ec4beff;
	/* END COLOR */
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Play", sans-serif;
	font-size: 16px;
	/* user-select: none; */
	-webkit-tap-highlight-color: transparent;
	-moz-user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-ms-user-select: none;
	user-select: none;
	/* hide text */
	/* color: transparent; */
}

body {
	width: auto;
	height: auto;
	background-color: var(--gunmetal);
}

#wrapper {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--gunmetal);
}

#main-container {
	width: 300px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* ################################### game-c ################################## */
/* ========================== controls ============================ */
#game-c > .controls {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 30px 0;
}
/* ~~~~~~~~~~~~~~~~~~ logo ~~~~~~~~~~~~~~~~~~~~~ */
#game-c > .controls > .logo {
	width: auto;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	/* background: white; */
	/* padding: 0 2px 1px 0; */
}
/* ----------- pattern's ------------- */
.circle {
	width: 32px;
	height: 32px;
	display: block;
	background: transparent;
	border: 0.5em solid var(--maximum-yellow-red);
	border-radius: 50%;
}
.cross {
	width: auto;
	height: auto;
	background: transparent;
	display: flex;
	box-sizing: border-box;
	font-size: 32px;
	position: relative;
}

.cross::after,
.cross::before {
	content: "";
	display: block;
	width: 1em;
	height: 0.25em;
	transform: rotate(45deg);
	background-color: var(--maximum-blue-green);
}
.cross::before {
	z-index: 2;
	position: absolute;
	transform: rotate(135deg);
}
/* ----------- /pattern's ------------- */
/* ~~~~~~~~~~~~~~~~~~ /logo ~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~ turn ~~~~~~~~~~~~~~~~~~~~~ */
#game-c > .controls > .turn {
	width: auto;
	height: 2em;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--gunmetal-2);
	box-shadow: 0.15rem 0.15rem 0px var(--charleston-green);
	transform: translate(-0.15rem, -0.15rem);
	border-radius: 3px;
	padding: 0.5em;
	margin-right: 30px;
}
/* ----------- turn content ------------- */
#game-c > .controls > .turn > .circle {
	border-color: var(--beau-blue);
	width: 16px;
	height: 16px;
	font-size: 0.5em;
}
#game-c > .controls > .turn > .cross::after,
#game-c > .controls > .turn > .cross::before {
	background-color: var(--beau-blue);
	width: 0.55em;
	height: 0.12em;
}

#game-c > .controls > .turn span {
	margin-left: 5px;
	text-transform: uppercase;
	color: var(--beau-blue);
}
/* ----------- /turn content ------------- */

/* ~~~~~~~~~~~~~~~~~~ /turn ~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~ menu-btn ~~~~~~~~~~~~~~~~~~~~~ */
#game-c > .controls > .menu-btn {
	width: 2em;
	height: 2em;
	justify-content: center;
	align-items: center;
	border: none;
	cursor: pointer;
	overflow: hidden;
	box-shadow: 0.25rem 0.25rem 0 #000;
	transform: translate(-0.25rem, -0.25rem);
	border-radius: 3px;
}

#game-c > .controls > .menu-btn > .bars {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: var(--beau-blue);
}
#game-c > .controls > .menu-btn > .bars > .line {
	width: 50%;
	height: 0.1em;
	margin: 2px;
	border-radius: 50px;
	background: var(--gunmetal);
}

#game-c > .controls > .menu-btn:active {
	box-shadow: 0 0 0 transparent;
	transform: translate(0, 0);
}
/* ~~~~~~~~~~~~~~~~~~ /menu-btn ~~~~~~~~~~~~~~~~~~~~~ */
/* ========================== /controls ============================ */
/* ========================== board ============================ */
#game-c > .board {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: stretch;
}
#game-c > .board > div {
	flex-grow: 1;
	flex-basis: calc(26% - 10px);
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
	border-radius: 10px;
	background: var(--gunmetal-2);
	box-shadow: 0.25rem 0.25rem 0 #000;
	transform: translate(-0.25rem, -0.25rem);
	cursor: pointer;
}
#game-c .board > div:active {
	box-shadow: none;
	transform: translate(0, 0);
}

/* fix margin of button's in board */
#game-c > .board {
	padding: 0.25rem 0 0 0.25rem;
}
#game-c > .board > :nth-child(1),
#game-c > .board > :nth-child(2),
#game-c > .board > :nth-child(3) {
	margin-top: 0;
}
#game-c > .board > :nth-child(7),
#game-c > .board > :nth-child(8),
#game-c > .board > :nth-child(9) {
	margin-bottom: 0;
}
#game-c > .board > :nth-child(3),
#game-c > .board > :nth-child(6),
#game-c > .board > :nth-child(9) {
	margin-right: 0;
}
#game-c > .board > :nth-child(1),
#game-c > .board > :nth-child(4),
#game-c > .board > :nth-child(7) {
	margin-left: 0px;
}
/* ========================== /board ============================ */
/* ========================== scores ============================ */
#game-c > .scores {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: flex-start;
	padding: 20px 2px 0 2px;
}

#game-c > .scores > div {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	flex: 1 1 0%;
	background: #fff;
	border-radius: 5px;
	text-transform: uppercase;
	box-shadow: 0 0 5px #000;
	padding: 10px;
}
#game-c > .scores > div > span:nth-child(2) {
	font-weight: bold;
}

#game-c .scores div:nth-child(1) {
	background-color: var(--maximum-blue-green);
}
#game-c .scores div:nth-child(2) {
	background-color: var(--beau-blue);
	margin: 0 20px;
}
#game-c .scores div:nth-child(3) {
	background-color: var(--maximum-yellow-red);
}

/* ========================== /scores ============================ */
/* ################################### /game-c ################################## */

/* ################################### MEDIA QUERY ################################## */
/* ========================= portrait mode ============================= */
@media only all and (min-width: 0px) {
	#wrapper {
		width: 100%;
		height: 100vh;
		background: yellow;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	#main-container {
		width: inherit;
		height: inherit;
		display: flex;
		justify-content: center;
		align-items: center;
		/* padding-right: 3px; */
	}
	/* ~~~~~~~~~~~~~~~~~~ game-c ~~~~~~~~~~~~~~~~~~~~~ */
	#game-c {
		width: inherit;
		height: inherit;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		overflow: hidden;
		padding: 0 5px;
	}
	/* #game-c > .board > * {
		width: 33%;
		height: 33%;
		background: #000;
		display: none;
	} */

	#game-c > * {
		/* border: 2px solid #000; */
	}

	#game-c > .controls,
	#game-c > .scores {
		width: 100%;
		height: 10%;
		flex-grow: 1;
	}

	#game-c > .board {
		width: 100%;
		height: 100vw;
		flex-grow: 0;
		/* flex-wrap: wrap;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center; */
	}
	/* ~~~~~~~~~~~~~~~~~~ end game-c ~~~~~~~~~~~~~~~~~~~~~ */
}

@media only all and (max-width: 260px) {
	#game-c > .controls > .logo {
		display: none;
	}
	
	#game-c > .scores {
		flex-direction: column;
		justify-content: flex-start;
		align-content: space-between;
	} 

	#game-c > .scores > div:nth-child(2) {
		margin: 10px 0;
	}
}

@media only all and (min-width: 350px) and (max-width: 400px) {
	#game-c > .controls {
		padding-top: 10px;
	}
	#game-c > .scores {
		padding: 0;
		padding-bottom: 10px;
	}
	#game-c > .board {
		margin: 10px 0;
	}
}

@media only all and (min-width: 400px), (min-width: 1200px) {
	#wrapper {
		background: pink;
	}
	#main-container {
		width: 400px;
	}
	/* ~~~~~~~~~~~~~~~~~~ game-c ~~~~~~~~~~~~~~~~~~~~~ */
	#game-c {
		width: 100%;
		padding: 0;
	}
	#game-c > .controls {
		align-items: flex-end;
	}
	#game-c > .controls > .turn {
		width: 26%;
	}
	#game-c > .board {
		width: 100%;
		height: 400px;
	}

	/* ~~~~~~~~~~~~~~~~~~ end game-c ~~~~~~~~~~~~~~~~~~~~~ */
}

/* ========================= landscape mode ============================= */
@media only all and (orientation: landscape) and (min-width: 600px) and (max-width: 850px),
	(min-width: 600px) and (max-height: 560px),
	(max-height: 450px) {
	#wrapper {
		background: azure;
	}
	#main-container {
		width: 100%;
		height: 80vh;
	}
	/* ~~~~~~~~~~~~~~~~~~ game-c ~~~~~~~~~~~~~~~~~~~~~ */
	#game-c {
		width: 100%;
		flex-direction: row;
		padding: 0 20px;
	}

	#game-c > .controls,
	#game-c > .scores {
		width: 10%;
		height: 100%;
		flex-direction: column-reverse;
		justify-content: space-between;
		/* align-items: stretch; */
		padding: 3px 0;
	}

	#game-c > .controls > .menu-btn {
		margin-top: 2px;
	}

	#game-c > .controls > .turn {
		width: auto;
		height: auto;
		margin: 0;
		margin-left: 20px;
		padding: 10px;
		display: flex;
		flex-wrap: wrap;
	}

	#game-c > .scores {
		align-items: stretch;
		padding-right: 20px;
	}

	#game-c > .scores > div {
		max-width: 100px;
		padding: 0 10px;
	}

	#game-c > .scores > div:nth-child(2) {
		margin: 20px 0;
	}

	#game-c > .board {
		width: 80vh;
		height: 100%;
		margin: 0 10px;
	}

	/* ~~~~~~~~~~~~~~~~~~ end game-c ~~~~~~~~~~~~~~~~~~~~~ */
}

@media only all and (orientation: landscape) and (min-width: 850px) and (max-width: 1024px) and (max-height: 560px),
	(min-width: 750px) and (max-height: 560px) {
	#wrapper {
		background: var(--gunmetal);
		background: greenyellow;
	}
	#main-container {
		width: 100%;
		height: 95vh;
	}
	/* ~~~~~~~~~~~~~~~~~~ game-c ~~~~~~~~~~~~~~~~~~~~~ */
	#game-c {
		width: 100%;
		flex-direction: row;
	}

	#game-c > .controls,
	#game-c > .scores {
		width: auto;
		height: 100%;
		flex-direction: column-reverse;
		justify-content: space-between;
		padding: 3px 0;
	}

	#game-c > .controls > .menu-btn {
		margin-top: 2px;
	}

	#game-c > .controls > .turn {
		width: auto;
		margin: 0;
		margin-left: 10px;
	}

	#game-c > .scores {
		align-items: stretch;
		padding-right: 20px;
	}

	#game-c > .scores > div {
		max-width: 150px;
		padding: 0 10px;
	}

	#game-c > .scores > div:nth-child(2) {
		margin: 20px 0;
	}

	#game-c > .board {
		width: 95vh;
		height: 100%;
		margin: 0 20px;
	}

	/* ~~~~~~~~~~~~~~~~~~ end game-c ~~~~~~~~~~~~~~~~~~~~~ */
}
/* ################################### END MEDIA QUERY ################################## */
